<section>
    <img 
    class="mx-auto rounded-full w-28 h-28 mb-4"
    src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREZMJscaPKzo9yKAd16z1XmLX1WMRyGdbWpA&usqp=CAU'
    alt="avatar photo"
    >
    <h2 class= "text-lg text-wrap text-center">
        Full Stack Developer con formación en Diseño Web y experiencia en HTML, CSS, JavaScript, React,Redux, Node.js, SQL y otras tecnologías del sector. Conocimientos específicos en el desarrollo deaplicaciones, metodologías ágiles, administración de portales web e implementación y soporte. Meenfoco en garantizar la calidad del código y mejorar la experiencia del usuario. Disfruto colaborarcon equipos multidisciplinarios para convertir ideas en soluciones digitales exitosas.
    </h2>
</section>