---
import MenuIcon from './icons/MenuIcon.astro'

// const menuToggle = document.getElementById('menuToggle');
//   const menu = document.getElementById('menu');

//   menuToggle?.addEventListener('click', () => {
//     menu?.classList.toggle('hidden');
//   });
---

<header class="flex justify-center items-center w-full py-5">
    <!-- <a href="#" class="text-lg font-bold">Mi Sitio Web</a> -->
    <button id="menuToggle" class="md:hidden fixed top-5 right-5 z-10">
      <MenuIcon />
    </button>

    <nav id="menu" class="md:flex hidden md:static fixed bg-black/80 md:bg-transparent top-12 right-5 px-10 py-4 md:p-0 rounded-lg shadow-lg z-10">
      <ul class="flex flex-col md:flex-row gap-4 md:gap-8">
        <li><a href="#top" class="hover:underline hover:text-[#518eeb]">Inicio</a></li>
        <li><a href="#experiencia" class="hover:underline hover:text-[#518eeb]">Experiencia</a></li>
        <li><a href="#proyectos" class="hover:underline hover:text-[#518eeb]">Proyectos</a></li>
        <li><a href="#sobre-mi" class="hover:underline hover:text-[#518eeb]">Sobre mí</a></li>
        <li><a href="#contacto" class="hover:underline hover:text-[#518eeb]">Contacto</a></li>
      </ul>
    </nav>
  </header>
  
  <script>
    const menuToggle = document.getElementById('menuToggle');
    const menu = document.getElementById('menu');

    menuToggle?.addEventListener('click', () => {
      menu?.classList.toggle('hidden');
    });

    // window.addEventListener('click', (event) => {
    //   console.log(event)
    //   if (event.target == menu) {
    //     menu?.classList.remove('hidden');
    //   }
    // })
  </script>