---
import MenuIcon from './icons/MenuIcon.astro'
---

<header class="flex justify-center items-center w-full py-5">
  <button id="menuToggle" class="md:hidden fixed top-5 right-5 z-10">
    <MenuIcon />
  </button>
  <div id="overlay" class="hidden fixed top-0 left-0 w-full h-full z-20"></div>
  <nav id="menu" class="md:flex hidden md:static fixed bg-black/80 md:bg-transparent top-12 right-5 px-10 py-4 md:p-0 rounded-lg shadow-lg z-30">
    <ul class="flex flex-col md:flex-row gap-4 md:gap-8">
      <li><a href="#top" class="hover:underline hover:text-[#518eeb]">Inicio</a></li>
      <li><a href="#experiencia" class="hover:underline hover:text-[#518eeb]">Experiencia</a></li>
      <li><a href="#proyectos" class="hover:underline hover:text-[#518eeb]">Proyectos</a></li>
      <li><a href="#sobre-mi" class="hover:underline hover:text-[#518eeb]">Sobre mí</a></li>
      <li><a href="#contacto" class="hover:underline hover:text-[#518eeb]">Contacto</a></li>
    </ul>
  </nav>
</header>

<script>
  const menuToggle = document.getElementById('menuToggle');
  const menu = document.getElementById('menu');
  const overlay = document.getElementById('overlay');
  const links = document.querySelectorAll('#menu a');

  const toggleMenu = () => {
    menu?.classList.toggle('hidden');
    overlay?.classList.toggle('hidden');
  }

  const closeMenu = () => {
    menu?.classList.add('hidden');
    overlay?.classList.add('hidden');
  }

  menuToggle?.addEventListener('click', toggleMenu);
  overlay?.addEventListener('click', closeMenu);

  links.forEach(link => {
    link.addEventListener('click', closeMenu);
  });
</script>